button {
  height: 10em;
  width: 10em;
  margin: 3px;
}

.red {
  background-color: darkred;
}
.red:hover {
 border-color: white;
 background-color: red;
}
.red.selected {
  border-color: white;
  background-color: red;
}

.blue {
  background-color: darkblue;
}
.blue:hover {
  border-color: white;
  background-color: blue;
}
.blue.selected {
  border-color: white;
  background-color: blue;
}

.orange {
  background-color: rgb(218, 121, 3);
}
.orange:hover {
 border-color: white;
 background-color: rgb(255, 167, 4);

}
.orange.selected {
  border-color: white;
  background-color: orange; 
}

.green {
  background-color: rgb(2, 92, 2);
}
.green:hover {
 border-color: white;
 background-color: green;
}
.green.selected {
  border-color: white;
  background-color: green; 
}